.login-container {
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    margin-bottom: 2rem;
}

.login-container .login-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.login-container h1.login-heading {
    font-size: 1.875rem;
}

.login-container .login-divider {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid #dee2e6;
}

.login-container h2.login-heading {
    font-size: 18px !important;
    margin-bottom: 10px;
}

.login-container .login-identityproviders .login-identityprovider-btn {
    border: 1px solid #dee2e6;
}

